* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    height: 1080px;
    /* background-color: darkblue; */
}

.bac {
    width: 1920px;
    height: 1080px;
    background-image: url("https://typora--lv.oss-cn-beijing.aliyuncs.com/piggo/%E8%83%8C%E6%99%AF%E5%9B%BE%E7%89%87.png");
    margin: auto;
}

.nav {
    width: 1920px;
    height: 50px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
}

.column {
    width: 240px;
    height: 50px;
    background-color: #e6e6e6;
    text-align: center;
    line-height: 50px;
    color: darkblue;
    font-weight: 900;
}

.logo {
    height: 45px;
    width: 216px;
    background-image: url("https://typora--lv.oss-cn-beijing.aliyuncs.com/piggo/logo2.png");
    position: relative;
    left: 800px;
    top: 130px;
}

.rec {
    height: 40px;
    width: 4px;
    position: relative;
    background-image: url("https://typora--lv.oss-cn-beijing.aliyuncs.com/piggo/%E7%9F%A9%E5%BD%A2%202.png");
    left: 1030px;
    top: 85px;
}

.library {
    width: 120px;
    height: 50px;
    left: 1030px;
    position: relative;
    top: 38px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.summary {
    height: 55px;
    width: 186px;
    /* background-color: burlywood; */
    position: relative;
    top: 70px;
    left: 900px;
    line-height: 55px;
    text-align: center;
    color: blue;
    font-size: 23px;
    font-weight: 900;
}

.summaryTwo {
    width: 540px;
    height: 75px;
    /* background-color: burlywood; */
    position: relative;
    top: 90px;
    left: 760px;
    text-align: center;
    font-size: 23px;
    color: blue;
    font-weight: 800;
    letter-spacing: 3px;
}

.searchBox {
    margin-top: 6%;
    margin-left: 30%;
    width: 824px;
    height: 52px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
}

.name {
    width: 165px;
    height: 52px;
    outline: none;
    font-weight: 700;
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, .4);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, .24);
    border: none;
}